// @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$red : #f03434;
html, body {
  margin: 0;
  padding: 0;
  // font-family: 'Comfortaa', cursive;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, ul, li, a, p {
  padding: 0;
  margin: 0;
}
h1{
  font-size: 40px;
  font-weight: 600;
}
h2{
  font-size: 22px;
  font-weight: 600;
}
input{
  outline: none;
}
ul {
  list-style: none;
  color: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
a:visited {
  color: inherit;
}
.relative{
  position: relative;
}
//HEADER
.header {
  display: flex;
  background-image: url('../../images/home-banner.jpg');
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  position: relative;
  max-height: 90vh;
}
.menuHolder{
  margin: 0 auto;
  z-index: 1001;
  a{
    color: #fff;
  }
}
.menuHolder li {
  display: inline-block;
  padding: 20px;
}
.menuHolder li:hover{
  background-color: rgb(255, 0, 0);
}
.headerText{
  text-align: center;
  margin: 30px auto 20px auto;
  color: #fff;
  p{
    margin: 0 0 5px;
    font-size: 18px;
  }
}
.downStore{
  z-index: 1000;
  height: 130px;
  position: absolute;
}
.imgWrapper{
  background-color: rgba(255,255,255,.3);
  display: flex;
  height: 100%;
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 5px;
}
.textWrapper{
  text-align: center;
  p{
    font-size: 12px;
    color: #fff;
    margin: 0;
  }
}
.first{
  flex: 1;
  display: flex;
  img{
    width: 120px;
    margin: auto auto 10px;
  }
}
.second{
  flex: 1;
  display: flex;
  img{
    width: 120px;
    margin: 10px auto auto;
  }
}
.whatWhere{
  margin: 10px auto auto;
  border-radius: 5px;
  background-color: rgba(255,255,255,.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.whereWrapper{
  display: flex;
}
.whatWrapper{
  position: relative;
  display: flex;
}
.what{
  font-weight: 700;
  height: 45px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
}
.search{
  height: 45px;
  width: 282px;
  border: 0;
  padding: 0;
}
.where{
  font-weight: bold;
  height: 45px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #fff;
  border-left: 1px rgb(180, 180, 180) solid;
}
.deoGrada{
  height: 45px;
  width: 122px;
  border: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
}
.deoGrada:focus{
  outline: none;
}
.submit{
  background-color: rgb(255, 0, 0);
  border: none;
  height: 45px;
  width: 100px;
  padding: 0;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
//END HEADER

//HOME
.homeIconWrapper{
  display: flex;
  margin: 100px auto 0 auto;
}
.categoriesWrapper{
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.categories{
  display: flex;
  flex-direction: column;
}
.categoriesHeader{
  padding: 20px;
  flex: 1;
  display: flex;
  background-color: rgb(0, 148, 123);
  color: #fff;
  h2{
    margin-left: 30px;
  }
}
.popularCategories{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.singleCategorie{
  position: relative;
  width: calc((100%)/6-2px);
  padding-top: 15vw;
  border: 1px rgb(221, 221, 221) solid;
}
.allCategories{
  display: flex;
  flex-direction: column;
}
.allCategoriesHeader{
  padding: 20px;
  flex: 1;
  display: flex;
  background-color: rgb(216, 216, 216);
  color: rgb(32, 32, 32);
  p{
    font-size: 20px;
    margin-left: 30px;
  }
}
.allCategoriesBody{
  display: flex;
  justify-content: center;
}
.allCategoriesWrapper{
  flex: 1;
  // max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.categorieWrappers{
  display: flex;
  justify-content: center;
}
.categorieBox{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.categorieBoxHeader{
  min-height: 70px; //ZBOG MOZILE
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #019f9f;
  // border: 1px solid rgb(201, 201, 201);
}
.categorieBoxHeader p{
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.categorieBoxBody{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categorieBoxItemWrapperThree{
  max-width: 240px;
  max-height: 240px;
  width: calc((200%)/6-2px);
  // border: 1px rgb(221, 221, 221) solid;
  height: 10vw;
  position: relative;
}
.categorieBoxItemWrapper{
  max-width: 240px;
  max-height: 240px;
  width: calc((100%)/6-2px);
  // border: 1px rgb(221, 221, 221) solid;
  height: 10vw;
  position: relative;
}
.categorieBoxItem{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #4d4d4d;
  }
}
.categorieBoxImg{
  width: 4vw;
  margin-bottom: 10px;
}
.categorieBoxItemEmpty{
  padding-top: calc(15vw+1px);
  border-top: 1px rgb(221, 221, 221) solid;
}







.categoriesButtonWrapper{
  display: flex;
  position: relative;
}
.categoriesButton{
  background-color: rgb(207, 50, 50);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  cursor: pointer;
}
.singleAbsolute{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.singleFlex{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.singleImg{
  width: 40%;
  margin: 20% auto auto;
  img{
    width: 100%;
  }
}
.singleText{
  margin: auto auto 10% auto;
  font-size: 1.5vw;
}
.x{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.hamburgerWrapper{
  display: none;
}
.hamburger{
  position: absolute;
}
.dropDownWrapper{
  background: #fff;
  position: absolute;
  flex-direction: column;
  top: calc(100%);
  left: 0;
  z-index: 1000;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 0 0 5px 5px;
  // overflow-y: scroll;
  overflow: hidden;
  max-height: 300px;
  width: 100%;
}
.dropDownItem{
  padding: 10px;
  background: white;
  cursor: pointer;
}
.dropDownItem:nth-child(1){
  border-top: 1px solid #d1d1d1;
}
.dropDownItem:hover{
  background: red;
}
//END HOME

// ABOUT
.about{
  display: flex;
  height: 500px;
  background-color: gray;
  position: relative;
  flex-direction: column;
}
// END ABOUT

// WHENWORKS
.whenWorks{
  display: flex;
  flex-direction: column;
}
.whenWorksHeader{
  display: flex;
  flex-direction: row;
  background-color: $red;
}
.whenWorksLogo{
  width: 100%;
}
.whenWorksInputWrapper{
  display: flex;
  position: relative;
}
.whenWorksInputHolder{
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: rgba(255,255,255,.3);
  border-radius: 50px;
  margin: 10px 50px;
}
.whenWorksInput{
  background-color: rgba(255,255,255,0);
  border: none;
  width: 250px;
  color: #fff;
  font-size: 16px;
}
.whenWorksInput::placeholder{
  color: #fff;
}
.whenWorksButton{
  padding: 10px;
  background-color: rgb(0, 151, 151);
  color: #fff;
  border-radius: 7px;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row;
}
.whenWorksNavigation{
  flex: 1;
  display: flex;
}
.whenWorksNavigation ul{
  margin: auto;
}
.whenWorksNavigation li{
  display: inline-block;
  margin: 0 30px;
}
.whenWorksBodyMiddleR{
  display: flex;
  position: relative;
  .leftHolder{
    background-color: #fff;
    transition: width 1s;
    position: absolute;
    margin-right: auto;
    width: 50%;
    top: 0;
    left: 0;
  }
  .rightHolder{
    margin-left: auto;
    transition: width 1s;
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
  }
}
.whenWorksBodyMiddleL{
  display: flex;
  position: relative;
  .leftHolder{
    background-color: #fff;
    transition: 1s;
    position: absolute;
    margin-right: auto;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .rightHolder{
    margin-left: auto;
    transition: 1s;
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
  }
}
.whenWorksBodyLeft{
  display: flex;
  position: relative;
  .leftHolder{
    background-color: #fff;
    margin-right: auto;
    transition: 1s;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .rightHolder{
    margin-left: auto;
    transition: 1s;
    position: relative;
    width: 50%;
    top: 0;
    right: 0;
  }
}
.whenWorksBodyRight{
  display: flex;
  position: relative;
  .leftHolder{
    background-color: #fff;
    margin-right: auto;
    transition: 1s;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
  }
  .rightHolder{
    margin-left: auto;
    transition: 1s;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
}
.whenWorksList{
  width: 100%;
  height: calc(100vh - 88px);
  position: relative;
  overflow: hidden;
}
.whenWorksListArrow{
  width: 30px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  top: 100px;
  right: 0;
  border: 1px solid rgb(219, 219, 219);
  border-right: none;
}
.wwListHeader{
  display: flex;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  flex-direction: row;
  border-bottom: 1px rgb(153, 153, 153) solid;
}
.wwListNow{
  background-color: $red;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wwListClose{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: gray;
  border: 1px gray solid;
  cursor: pointer;
}
.wwListHeader select{
  margin: auto 0 auto auto;
  direction: rtl;
  border: none;
  background-color: rgba(255,255,255,0);
  color: rgb(0, 151, 151);
  font-size: 16px;
  cursor: pointer;
}
.map{
  width: calc(200%-2px);
  height: calc(100vh-88px);
  position: relative;
  border-left: 1px rgb(219, 219, 219) solid;
  margin-left: auto;
}
.infoWindowRating{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.infoWindowAvgRating{
  margin-left: 5px;
  width: 18px;
  height: 18px;
  border: 1px rgb(209, 69, 69) solid;
  border-radius: 100%;
  top: -40px;
  right: 50px;
  padding: 1px;
  div{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(209, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 11px;
  }
}
.infoWindowImg{
  width: 200px;
  margin-bottom: 10px;
}
.infoWindowName{
  max-width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}
.map1{
  height: 100px;
  width: 100%;
  position: relative;
}
.leftArrow{
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px 0 0 20px;
  border: 1px solid rgb(180, 180, 180);
  cursor: pointer;
}
.leftArrow div{
  margin-top: 4px;
  margin-left: 6px;
}
.rightArrow{
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 0 20px 20px 0;
  border: 1px solid rgb(180, 180, 180);
  cursor: pointer;
}
.rightArrow div{
  margin-top: 4px;
  margin-left: 6px;
}

.objectCard{
  width: 100%;
  height: calc(100%-61px);
  overflow-y: scroll;
  // padding-left: 14px;
  // https://codepen.io/devstreak/pen/dMYgeO?editors=1000
}
.objectCardItem{
  display: flex;
  border-bottom: 1px gray solid;
  padding: 15px;
}
.objectImg{
  flex: 1;
}
.objectImg img{
  width: 250px;
  border-radius: 5px;
}
.objectInfoWrapper{
  flex: 2;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
}
.objectName{
  flex: 1;
  display: flex;
  align-items: center;
  p{
    font-weight: bold;
  }
}
.ratingNumber{
  background: #009797;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  p{
    color: #fff;
    font-size: 18px;
  }
}
.objectRating{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circleRating{
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: 1px rgb(209, 69, 69) solid;
  border-radius: 100%;
  padding: 3px;
  div{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(209, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
  }
}
.ratingCount p{
  font-size: 14px;
  color: #9b9b9b;
}
.isWorkingWrapper{
  flex: 2;
  display: flex;
  flex-direction: row;
}
.objectInfo{
  flex: 1;
}
.isWorking{
  flex: 1;
  display: flex;
}
// END WHENWORKS


// OBJECT
.ratingImage{
  width: 30px;
}
.objectProfileImageWrapper{
  display: flex;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.clockWorkTime{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  img{
    width: 100px;
  }
}
.profileTitle{
  display: flex;
  padding: 50px 0 0;
  border-top: 1px solid rgb(233, 233, 233);
}
.profileTitleBox{
  padding-bottom: 9px;
  margin: auto;
  text-align: center;
}
.profileTitleName{
  font-size: 20px;
  font-weight: bolder;
  h1{
    font-size: 24px;
    color: #333;
  }
}
.profileTitleCategory{
  font-size: 14px;
  color: rgb(155, 155, 155);
}
.profileTime{
  display: flex;
  padding: 5px 0;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.profileTimeBox{
  margin: auto;
}
.profileInfo{
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.profileInfoBox{
  margin: auto;
  color: rgb(155, 155, 155);
  font-size: 14px;
}
.profileRating{
  display: flex;
}
.profileRatingBox{
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 9px 0;
  border-bottom: 0.75px solid #ededed;
  border-top: 0.75px solid #ededed;
}
.profileRatingFirst{
  display: flex;
  margin-right: 10px;
  p{
    margin: 10px auto;
    color: #009797;
  }
}
.profileRatingSecond{
  display: flex;
  margin-top: 6px;
}
.ratingBox{
  margin:  auto;
}
.profileRatingThirth{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}
.circleRing{
  margin: auto;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 2px solid #009797;
  border-radius: 100%;
  padding: 2px;
}
.circleFull {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #009797;
  display: flex;
  p{
    margin: auto;
    color: #fff;
    font-size: 20px;
  }
}
.profileWorkTimeFirst, .profileImpressionsFirst, .galleryHeader {
  display: flex;
  background: rgb(209, 209, 209);
  justify-content: center;
  border-bottom: 1px solid #009797;
  border-top: 1px solid #009797;
  
}
.profileImpressionsFirst {
  margin-bottom: 30px;
}
.profileWorkTimeFirstBox, .profileImpressionsFirstBox {
  flex: 1;
  padding: 20px 0;
  margin: auto 0 auto 25px;
  p{
    font-weight: bold;
  }
}
.profileWorkTimeSecond{
  display: flex;
  flex-direction: column;
  background-image: url('../images/pozadinablur.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 200px;
}
.profileWorkClock{
  flex: 1;
  display: flex;
  padding-bottom: 50px;
}
.profileWorkClockBox{
  text-align: center;
  margin: auto;
  p{
    font-size: 24px;
    font-weight: bold;
  }
}
.objectWorkTime{
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.objectWorkTimeBox{
  max-width: 1440px;
  padding: 10px 15px;
  flex: 1;
  display: flex;
  background: rgba(63, 136, 118, 0.3);
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 3px;
  }
  h3{
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.restaurantWorkTime{
  flex: 1;
  display: flex;
  justify-content: center;
}
.restaurantWorkTimeBox{
  text-align: center;
  justify-content: center;
}
.calendarCircle{
  flex: 1;
  display: flex;
  justify-content: center;
}
.calendarCircleWrapper{
  display: flex;
  flex: 1;
  max-width: 1440px;
  justify-content: space-around;
  align-items: center;
}
.blueCircle{
  background: rgb(24, 159, 177);
  border-radius: 100%;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.orangeCircle{
  background: rgb(228, 151, 52);
  border-radius: 100%;
  height: 400px;
  width: 400px;
}
.profileWorkTimeThirth{
  display: flex;
  justify-content: center;
}
.profileWorkTimeThirthBox{
  flex: 1;
  display: flex;
  max-width: 1440px;
}
.profileInformation{
  display: flex;
  flex: 1.3;
}
.profileInformationBox{
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.profileInformationPhone{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(165, 165, 165);
  h3{
    color: rgb(172, 172, 172);
    margin-bottom: 5px;
    font-weight: 400;
  }
  p{
    color: rgb(0, 207, 0);
  }
}
.profileInformationPopular, .profileInformationPayingMethod, .profileInformationPrice{
  padding: 20px 0;
  border-bottom: 1px solid rgb(165, 165, 165);
  h3{
    color: rgb(172, 172, 172);
    margin-bottom: 5px;
    font-weight: 400;
  }
  p{
    color: rgb(29, 29, 29);
  }
}
.profileInformationMore{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(165, 165, 165);
  h3{
    color: rgb(172, 172, 172);
    margin-bottom: 5px;
    font-weight: 400;
  }
  p{
    color: rgb(29, 29, 29);
  }
}
.profileInformationLink{
  padding: 20px 0;
  border-bottom: 1px solid rgb(165, 165, 165);
  h3{
    color: rgb(172, 172, 172);
    margin-bottom: 5px;
    font-weight: 400;
  }
  p{
    color: rgb(27, 102, 189);
  }
  a{
    color: inherit;
  }
}
.profileMap{
  border-left: solid 1px rgb(212, 212, 212);
  flex-direction: column;
  display: flex;
  flex: 1;
  background: blue;
}
.profileMapWrapper{
  flex: 5;
}
.profileMapBar{
  flex: 2;
  background: #fff;
  position: relative;
  display: flex;
  border-top: 1px solid rgb(212, 212, 212);
}
.profileMapContent{
  margin: auto auto auto 30px;
  color: rgb(29, 29, 29);
}
.profileMapButton{
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px rgb(209, 69, 69) solid;
  border-radius: 100%;
  top: -40px;
  right: 50px;
  padding: 3px;
  div{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(209, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }
}
.profileGallery{
  display: flex;
  flex-direction: column;
}
.galleryHeader{
  background: rgb(238, 238, 238);
  flex: 1;
  display: flex;
  justify-content: center;
}
.galleryHeaderWrapper{
  display: flex;
  flex: 1;
  padding: 20px;
  color: rgb(49, 49, 49);
  h2{
    margin-left: 30px;
  }
}
.galleryBody{
  display: flex;
  flex-direction: column;
}
.frontGallery{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e9e9e9;
}
.frontGalleryWrapper{
  flex: 1;
  max-width: 1440px;
  display: flex;
  padding: 10px;
}
.galleryLeftBox{
  flex: 1;
  display: flex;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 5px;
  background-image: url('../images/slikaRestorana.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30vw;
  position: relative;
}
.galleryRightBox{
  flex: 1;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
}
.galleryRightTop{
  flex: 1;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 5px;
  background-image: url('../images/slikaRestorana.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.galleryRightBottom{
  flex: 1;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 5px;
  background-image: url('../images/slikaRestorana.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.galleryButtonWrapper, .ratingButtonWrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.galleryButton, .ratingButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: $red;
  border-radius: 10px;
  p{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
  }
}
.galleryButtonImage{
  width: 30px;
  margin-right: 5px;
}
.imagesHover{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  p{
    font-size: 2vw;
    color: #fff;
    font-weight: 800;
  }
}

.galleryRightBottom:hover,
.galleryRightTop:hover,
.galleryLeftBox:hover {
  .imagesHover{
    display: flex;
  }
}
// PROFILE IMPRESSIONS STYLE //
.profileRatingNPrice, .profileImpressionsNAccuracy {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileRatingCircle {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileRatingNPricePrice, .profileImpressionsNAccuracyAccuracy {
  text-align: center;
}
.profileRatingNPricePrice {
  padding-top: 20px;
}
.profileImpressionsNAccuracyAccuracy {
  font-size: 60px;
  color: #009797;
  font-weight: 800;
  padding-top: 20px;
}
.profileRatingNPriceCena, .profileRatingNPriceTacnost {
  color: #009797;
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileRatingNPriceTacnost {
  max-width: 300px;
}
.profileImpressionsNAccuracyImpressions {
  color: #fca94b;
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  padding-top: 30px;
}
.addObject {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../../images/pozadinablur.jpg');
  background-position: center center;
  background-size: cover;
}
.memory {
  flex: 1;
  margin: 0px 30px;
  padding: 40px 0px;
  justify-content: center;
  align-items: center;
}
.znak {
  width: 80px;
  height: 80px;
  background-color: #d14545;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.zapamtite {
  max-width: 500px;
  color: #009797;
  font-size: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.xxx {
  font-size: 60px;
  color: #009797;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  margin-right: 50px;
}


// END OBJECT PROFILE
// FORMA STYLE //
.addObjectForm {
  display: flex;
  font-size: 22px;
  flex-direction: column;
  color: #fff;
}
.formTextDiv {
  display: flex;
  flex-direction: column;
}
.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 50px;
}
.addYourObject, .isThisYourObject {
  display: flex;
  flex: 1;
  background-color: #f03434;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.emailNContact {
  background-color: #009797;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}
.inputEmail {
  max-width: 600px;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}
.inputButton {
  max-width: 500px;
  width: 100%;
  height: 60px;
  margin: 5px 50px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 22px;
  background-color: #f03434;
  color: white;
  font-weight: 600;
  margin-bottom: 50px;
  cursor: pointer;
}

// PROFILE COMMENTS //
.userData {
  display: flex;
  flex: 3.5;
  flex-direction: column;
  border-bottom: 1px solid #009797;
}
.userData:nth-child(1){
  border-top: 1px solid #009797;
}
.userRating {
  display: flex;
  flex: 1.5;
}
.userPhoto {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.userInfo {
  display: flex;
  margin: 35px 0;
}
.userIcons {
  width: 35px;
  padding-right: 5px;
}
.userName {
  margin-left: 20px;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.userNum {
  font-size: 25px;
  color: #d14545;
  padding-right: 10px;
}
.userComment {
  color: #009797;
  font-size: 25px;
  max-width: 70%;
}
.userRatings {
  width: 60px;
}
.userNumPhotos {
  font-size: 40px;
  color: #d14545;
  font-weight: 800;
  margin:0px 10px 0px 5px;
}
.iconSize {
}
.borderOfImpressions {
  display: flex;
  margin-right: -150px;
  border-bottom: 1px solid #d1d1d1;
  margin-left: -20px;
  padding-top: 8px;
}
.borderOfRatings {
  display: flex;
  margin-left: -70px;
  border-bottom: 1px solid #d1d1d1;
  margin-right: -20px;
  padding-top: 8px;
}
.borderDown {
 display: flex;
 border-bottom: 1px solid #d1d1d1;
 margin: 0px 350px;   
}
.biggerIconSize {
  width: 70px;
  margin-right: 10px;
}
.bigCircle {
  width: 220px;
  height: 220px;
  padding: 8px;
}
.bigCircleParagraph  {
  p{
    font-size: 100px;
    font-weight: 900;
  }
}
.marTop {
  margin-top: 65px;
}
.userNameName {
  font-size: 30px;
  color: #d14545;
  font-weight: 800;
}
.profileComments {
  display: flex;
  margin: 0px 30px;
  padding: 35px 50px;
  flex-direction: column;
}
.circlesUserComments {
  width: 40px;
  margin-right: 5px;
}
.circleRingComments{
  width: 80px;
  height: 80px;
  padding: 2px;
  margin-left: 15px;
}
.circleRingCommentsPar {
  font-weight: 900;
  p{
    font-size: 40px;
  }
}
.middleBorder {
  display: flex;
  width: 50%;
  height: 90px;
  border-right: 1px solid #d1d1d1;
  margin-top: 15px;
}
.paddingOfRating {
  padding-bottom: 13px;
}
// END PROFILE COMMENTS //
.whenWorksPhone{
  display: none;
}
.objectCardRating{
  width: 30px;
}
.objectCardClock{
  width: 100px;
  margin: auto 0 0 auto;
}
// END FORMA STYLE //
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////



//MEDIA 425px

@media screen and (max-width: 425px){
  .objectCardClock{
    width: 40px;
  }
  .objectCardRating{
    width: 15px;
  }
  .objectImg img{
    width: 100px;
  }
  .ratingNumber{
    height: 18px;
    width: 18px;
  }
  .objectName, .objectRating, .isWorkingWrapper{
    flex: none;
  }
  .isWorking{
    display: block;
  }
  .objectName p{
    font-size: 10px;
    font-weight: 600;
  }
  .jebote{
    display: flex;
    flex-direction: column;
  }
  .whenWorksComputer{
    display: none;
  }
  .whenWorksPhone{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .whenWorksList{
    position: absolute;
    height: calc(100vh);
  }
  .map{
    position: absolute;
    width: calc(100%-2px);
    height: calc(100vh);
  }

  .jedan{
    opacity: 1;
    z-index: 1;
    transition: 700ms;
  }
  .dva{
    opacity: 0;
    z-index: 0;
    transition: 700ms;
  }
  .jedann{
    opacity: 0;
    z-index: 0;
    transition: 700ms;
  }
  .dvaa{
    opacity: 1;
    z-index: 1;
    transition: 700ms;
  }





  .ratingImage{
    width: 20px;
  }
  .objectProfileImageWrapper{
    height: 30vh;
  }
  .clockWorkTime img{
    width: 70px;
  }
  .profileTitle{
    padding-top: 35px;
  }
  .profileTitleName h1{
    font-size: 20px;
  }
  .profileWorkClockBox{
    p{
      font-size: 14px;
    }
    img{
      width: 80px;
    }
  }
  .galleryButton, .ratingButton{
    p{
      font-size: 12px;
    }
  }
  .galleryButtonImage{

  }
  .profileMapBar{
    padding: 25px 0;
  }
  .profileInformation, .profileMap{
    flex: none;
  }
  .categorieWrappers{
    flex-direction: column;
  }
  .categorieBoxImg{
    width: 15vw;
  }
  .categorieBoxItemEmpty{
    padding-top: calc(15vw+1px);
    border-top: 1px rgb(221, 221, 221) solid;
  }
  .categorieBoxItemWrapper, .categorieBoxItemWrapperThree{
    width: calc((100%)/3-2px);
    height: 18vh;
    p{
      font-size: 3vw;
    }
  }
  .profileWorkTimeSecond{
    padding: 20px;
  }
  .profileWorkTimeThirthBox{
    flex-direction: column;
  }
  .objectWorkTimeBox{
    flex-direction: column;
}
  .restaurantWorkTimeBox{
    margin: 20px auto auto;
}
  .menuHolder{
    display: none;
  }
  .whatWrapper{
    margin-bottom: 10px;
  }
  .search{
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    width: 230px;
  }
  .where{
    border-radius: 5px 0 0 5px;
  }
  .menuHolder{
    li{
      padding: 20px 10px;
    }
    a{
      font-size: 16px;
    }
  }
  .downStore{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .imgWrapper{
    border-radius: 0;
    background-color: rgba(0,0,0,.7);
  }
  .deoGrada{
    font-size: 12px;
    width: 110px;
  }
  .submit{
    margin-left: auto;
  }
  .hamburgerWrapper{
    width: 200px;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
  }
  .hamburgerListWrapper{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    li{
    color: #000;
    padding: 10px;
    }
    li:hover{
      background-color: rgb(255, 0, 0);
    }
  }
  .addYourObject {
    padding: 25px 0 25px;
  }
  .addObjectForm {
    font-size: 18px;
  }
  .inputEmail {
    font-size: 16px;
  }
  .inputButton {
    font-size: 18px;
  }
  .bigCircleParagraph  {
    p{
      font-size: 22px;
      font-weight: 900;
    }
  }
  .bigCircle {
    width: 50px;
    height: 50px;
    padding: 2px;
  }
  .biggerIconSize {
    width: 16px;
    margin-right: 3px;
  }
  .iconSize {
    width: 18px;
  }
  .userComment {
    max-width: none;
  }
  .profileImpressionsNAccuracyImpressions {
    font-size: 16px;
    padding-top: 8px;
  }
  .profileImpressionsNAccuracyAccuracy {
    font-size: 18px;
  }
  .profileRatingNPriceTacnost {
    max-width: none;
  }
  .profileRatingNPriceTacnost {
    font-size: 10px;
    font-weight: 900;
  }
  .profileRatingNPriceCena {
    font-size: 10px;
    font-weight: 900;
  }
  .marTop {
    margin-top: 0px;
  }
  .borderOfImpressions {
    margin-left: 0px;
    margin-right: 0px;
  }
  .borderDown {
    margin: 0px;
  }
  .memory {
    padding: 20px 0px;
    margin: 0px 15px;
  }
  .znak {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
  }
  .zapamtite {
    font-size: 18px;
  }
  .xxx {
    font-size: 50px;
  }
  .userPhoto {
    width: 60px;
    height: 60px;
  }
  .userNameName {
    font-size: 16px;
    color: #d14545;
    font-weight: 800;
  }
  .userIcons {
    width: 25px;
    padding-right: 3px;
  }
  .profileComments {
    padding: 25px 15px;
    margin: 0px 20px;
  }
  .userIcons {
    width: 18px;
  }
  .userNum {
    font-size: 18px;
    color: #d14545;
    padding-right: 7px;
  }
  .userRatings {
    width: 32px;
  }
  .userNumPhotos {
    font-size: 25px;
  }
  .circlesUserComments {
    width: 25px;
    margin-right: 4px;
  }
  .circleRingComments{
    width: 40px;
    height: 40px;
  }
  .circleRingCommentsPar {
    p{ 
    font-size: 20px;
    font-weight: 900;
  }
  }
  .userComment {
    font-size: 14px;
  }
  .profileImpressionsFirst {
    margin-bottom: 15px;
  }
  .middleBorder {
    height: 60px;
    margin-top: 10px;
  }
  .profileRatingNPriceCena, .profileRatingNPriceTacnost {
    margin-top: 10px;
  }
  .userColumn {
    flex-direction: column;
    align-items: center;
  }
  .userInfo {
    display: flex;
    margin-bottom: 20px;
  }
  .userRating {
    margin-bottom: 5px;
  }
  .xxx {
    margin-right: 0px;
    font-size: 35px;
    margin-left: 10px;
  }
  .zapamtite {
    font-size: 13px;
  }
  .paddingOfRating {
    padding-bottom: 6px;
  }
}
.header{
  height: 100vh;
}
// END MEDIA QUERY min 425

// MEDIA QUERY 426-768
@media screen and (min-width: 426px) and (max-width: 768px){
  .objectWorkTimeBox{
    flex-direction: column;
  }
  .profileWorkTimeSecond{
    padding: 50px 90px;
  }
  .whatWrapper{
    margin-bottom: 10px;
  }
  .search{
    border-radius: 0 5px 5px 0;
  }
  .where{
    border-radius: 5px 0 0 5px;
  }
  .deoGrada{
    width: 160px;
  }
  .submit{
    margin-left: auto;
  }
  .downStore{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .imgWrapper{
    border-radius: 0;
    background-color: rgba(0,0,0,.7);
  }
  .bigCircleParagraph  {
    p{
      font-size: 30px;
      font-weight: 900;
    }
  }
  .bigCircle {
    width: 70px;
    height: 70px;
    padding: 2px;
  }
  .biggerIconSize {
    width: 20px;
    margin-right: 5px;
  }
  .iconSize {
    width: 25px;
  }
  .userComment {
    max-width: none;
  }
  .profileImpressionsNAccuracyImpressions {
    font-size: 20px;
    padding-top: 2px;
  }
  .profileImpressionsNAccuracyAccuracy {
    font-size: 25px;
  }
  .profileRatingNPriceTacnost {
    max-width: none;
  }
  .profileRatingNPriceTacnost {
    font-size: 11px;
    font-weight: 900;
  }
  .profileRatingNPriceCena {
    font-size: 11px;
    font-weight: 900;
  }
  .marTop {
    margin-top: 0px;
  }
  .borderOfImpressions {
    margin-left: 0px;
    margin-right: 0px;
  }
  .borderDown {
    margin: 0px;
  }
  .memory {
    padding: 20px 0px;
    margin: 0px 15px;
  }
  .znak {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
  }
  .zapamtite {
    font-size: 18px;
  }
  .xxx {
    font-size: 50px;
  }
  .userPhoto {
    width: 60px;
    height: 60px;
  }
  .userNameName {
    font-size: 16px;
    color: #d14545;
    font-weight: 800;
  }
  .userIcons {
    width: 25px;
    padding-right: 3px;
  }
  .profileComments {
    padding: 25px 15px;
    margin: 0px 20px;
  }
  .userIcons {
    width: 18px;
  }
  .userNum {
    font-size: 18px;
    color: #d14545;
    padding-right: 7px;
  }
  .userRatings {
    width: 32px;
  }
  .userNumPhotos {
    font-size: 25px;
  }
  .circlesUserComments {
    width: 25px;
    margin-right: 4px;
  }
  .circleRingComments{
    width: 40px;
    height: 40px;
  }
  .circleRingCommentsPar {
    p{ 
    font-size: 20px;
    font-weight: 900;
  }
  }
  .userComment {
    font-size: 15px;
  }
  .profileImpressionsFirst {
    margin-bottom: 15px;
  }
  .middleBorder {
    height: 70px;
    margin-top: 10px;
  }
  .profileRatingNPriceCena, .profileRatingNPriceTacnost {
    margin-top: 10px;
  }
  .userColumn {
    flex-direction: column;
    align-items: center;
  }
  .userInfo {
    display: flex;
    margin-bottom: 20px;
  }
  .userRating {
    margin-bottom: 5px;
  }
  .xxx {
    margin-right: 0px;
    font-size: 35px;
    margin-left: 10px;
  }
  .zapamtite {
    font-size: 15px;
  }
  
}
// END MEDIA QUERY 426-768

// MEDIA QUERY 769-1024
@media screen and (min-width: 769px) and (max-width: 1024px){
  .x{
    display: none;
  }
  .whatWhere{
    flex-direction: row;
  }
  .downStore{
    top: 15px;
    right: 15px;
    display: block!important;
  }
  .bigCircleParagraph  {
    p{
      font-size: 60px;
      font-weight: 900;
    }
  }
  .bigCircle {
    width: 150px;
    height: 150px;
    padding: 5px;
  }
  .biggerIconSize {
    width: 40px;
  }
  .iconSize {
    width: 35px;
  }
  .userComment {
    max-width: none;
  }
  .profileImpressionsNAccuracyImpressions {
    font-size: 40px;
    padding-top: 2px;
  }
  .profileImpressionsNAccuracyAccuracy {
    font-size: 35px;
  }
  .profileRatingNPriceTacnost {
    max-width: none;
  }
  .profileRatingNPriceTacnost {
    font-size: 19px;
  }
  .profileRatingNPriceCena {
    font-size: 19px;
  }
  .marTop {
    margin-top: 0px;
  }
  .borderOfImpressions {
    margin-left: 0px;
    margin-right: 0px;
  }
  .borderDown {
    margin: 0px;
  }
  .memory {
    padding: 20px 0px;
  }
  .znak {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  .zapamtite {
    font-size: 18px;
  }
  .xxx {
    font-size: 50px;
  }
  .userPhoto {
    width: 80px;
    height: 80px;
  }
  .userNameName {
    font-size: 20px;
    color: #d14545;
    font-weight: 800;
  }
  .userIcons {
    width: 25px;
    padding-right: 3px;
  }
  .profileComments {
    padding: 25px 35px;
  }
  .userIcons {
    width: 22px;
  }
  .userNum {
    font-size: 20px;
    color: #d14545;
    padding-right: 7px;
  }
  .userRatings {
    width: 35px;
  }
  .userNumPhotos {
    font-size: 25px;
  }
  .circlesUserComments {
    width: 30px;
    margin-right: 4px;
  }
  .circleRingComments{
    width: 45px;
    height: 45px;
  }
  .circleRingCommentsPar {
    p{ 
    font-size: 26px;
    font-weight: 900;
  }
  }
  .userComment {
    font-size: 18px;
  }
  // .first{
  //   img{
  //     width: 80px;
  //   }
  // }
}
// END MEDIA QUERY 769-1024

// MEDIA QUERY min 1450a
@media screen and (max-width: 1024px) {
  .profileRatingNPriceTacnost {
    max-width: none;
  }
  .profileRatingNPricePrice {
    padding-top: 5px;
  }
  .borderOfRatings {
    margin-left: -70px;
  }
  .borderOfImpressions {
    margin-right: 0px;
  }

}
@media screen and (min-width: 1025px) {
  .x{
    display: none;
  }
  .whatWhere{
    flex-direction: row;
  }
  .downStore{
    top: 15px;
    right: 15px;
    display: block!important;
  }
}

// CUSTOM MEDIA QUERY
@media screen and (max-width: 550px) {
  .singleCategorie{
    width: calc((100%)/3-2px);
    padding-top: 30vw;
  }
  .singleText{
    font-size: 3vw;
  }
}

// END CUSTOM MEDIA QUERY
// MEDIA QUERY min 1450
@media screen and (min-width: 1025px) and (max-width: 1450px) {
  .borderOfImpressions {
    margin-right: 0px;
    margin-left: 0px;
  }
  .borderOfRatings {
    margin-right: 5px;
    margin-left: 0px;
  }
  .borderDown {
    margin: 0px 130px;
  }
  .biggerIconSize {
    width: 55px;
  }
  .iconSize {
    width: 45px;
  }
  .profileImpressionsNAccuracyImpressions {
    font-size: 52px;
    padding-top: 10px;
  }
  .profileRatingNPricePrice {
    padding-top: 28px;
  }
  .profileImpressionsNAccuracyAccuracy {
    font-size: 45px;
  }
  .borderOfImpressions {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1441px){
  .what, .where{
    width: 100px;
    height: 50px;
    font-size: 18px;
  }
  .search{
    height: 50px;
    width: 320px;
  }
  .deoGrada{
    height: 50px;
  }
  .search::placeholder{
    font-size: 16px;
  }
  .deoGrada::placeholder{
    font-size: 16px;
  }
  .submit{
    height: 50px;
    font-size: 18px;
  }
  .headerText p{
    font-size: 22px;
  }
  .headerText h1{
    font-size: 50px;
  }
  .homeIconWrapper{
    margin-top: 170px;
    margin-bottom: 50px;
  }
  .homeIcon{
    width: 180px;
  }
  .headerTextH1{
    margin-bottom: 10px;
  }
  .headerText{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  // .downStore{
  //   height: 260px;
  // }
}



